@font-face {
  font-family: "ic-bookstore";
  src: url("../../fonts/ic-bookstore.eot?hnnwaw");
  src: url("../../fonts/ic-bookstore.eot?hnnwaw#iefix") format("embedded-opentype"), url("../../fonts/ic-bookstore.ttf?hnnwaw") format("truetype"), url("../../fonts/ic-bookstore.woff?hnnwaw") format("woff"), url("../../fonts/ic-bookstore.svg?hnnwaw#ic-bookstore") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ic-bookstore" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=ic-] {
  color: #000;
}

.ic-Add_Column:before {
  content: "\e900";
}

.ic-Add_Minus_Square:before {
  content: "\e901";
}

.ic-Add_Plus:before {
  content: "\e902";
}

.ic-Add_Plus_Circle:before {
  content: "\e903";
}

.ic-Add_Plus_Square:before {
  content: "\e904";
}

.ic-Add_Row:before {
  content: "\e905";
}

.ic-Add_To_Queue:before {
  content: "\e906";
}

.ic-Airplay:before {
  content: "\e907";
}

.ic-Alarm:before {
  content: "\e908";
}

.ic-Archive:before {
  content: "\e909";
}

.ic-Arrow_Circle_Down:before {
  content: "\e90a";
}

.ic-Arrow_Circle_Down_Left:before {
  content: "\e90b";
}

.ic-Arrow_Circle_Down_Right:before {
  content: "\e90c";
}

.ic-Arrow_Circle_Left:before {
  content: "\e90d";
}

.ic-Arrow_Circle_Right:before {
  content: "\e90e";
}

.ic-Arrow_Circle_Up:before {
  content: "\e90f";
}

.ic-Arrow_Circle_Up_Left:before {
  content: "\e910";
}

.ic-Arrow_Circle_Up_Right:before {
  content: "\e911";
}

.ic-Arrow_Down_Left_LG:before {
  content: "\e912";
}

.ic-Arrow_Down_Left_MD:before {
  content: "\e913";
}

.ic-Arrow_Down_Left_SM:before {
  content: "\e914";
}

.ic-Arrow_Down_LG:before {
  content: "\e915";
}

.ic-Arrow_Down_MD:before {
  content: "\e916";
}

.ic-Arrow_Down_Right_LG:before {
  content: "\e917";
}

.ic-Arrow_Down_Right_MD:before {
  content: "\e918";
}

.ic-Arrow_Down_Right_SM:before {
  content: "\e919";
}

.ic-Arrow_Down_SM:before {
  content: "\e91a";
}

.ic-Arrow_Down_Up:before {
  content: "\e91b";
}

.ic-Arrow_Left_LG:before {
  content: "\e91c";
}

.ic-Arrow_Left_MD:before {
  content: "\e91d";
}

.ic-Arrow_Left_Right:before {
  content: "\e91e";
}

.ic-Arrow_Left_SM:before {
  content: "\e91f";
}

.ic-Arrow_Reload_02:before {
  content: "\e920";
}

.ic-Arrow_Right_LG:before {
  content: "\e921";
}

.ic-Arrow_Right_MD:before {
  content: "\e922";
}

.ic-Arrow_Right_SM:before {
  content: "\e923";
}

.ic-Arrow_Sub_Down_Left:before {
  content: "\e924";
}

.ic-Arrow_Sub_Down_Right:before {
  content: "\e925";
}

.ic-Arrow_Sub_Left_Down:before {
  content: "\e926";
}

.ic-Arrow_Sub_Left_Up:before {
  content: "\e927";
}

.ic-Arrow_Sub_Right_Down:before {
  content: "\e928";
}

.ic-Arrow_Sub_Right_Up:before {
  content: "\e929";
}

.ic-Arrow_Sub_Up_Left:before {
  content: "\e92a";
}

.ic-Arrow_Sub_Up_Right:before {
  content: "\e92b";
}

.ic-Arrow_Undo_Down_Left:before {
  content: "\e92c";
}

.ic-Arrow_Undo_Down_Right:before {
  content: "\e92d";
}

.ic-Arrow_Undo_Up_Left:before {
  content: "\e92e";
}

.ic-Arrow_Undo_Up_Right:before {
  content: "\e92f";
}

.ic-Arrow_Up_Left_LG:before {
  content: "\e930";
}

.ic-Arrow_Up_Left_MD:before {
  content: "\e931";
}

.ic-Arrow_Up_Left_SM:before {
  content: "\e932";
}

.ic-Arrow_Up_LG:before {
  content: "\e933";
}

.ic-Arrow_Up_MD:before {
  content: "\e934";
}

.ic-Arrow_Up_Right_LG:before {
  content: "\e935";
}

.ic-Arrow_Up_Right_MD:before {
  content: "\e936";
}

.ic-Arrow_Up_Right_SM:before {
  content: "\e937";
}

.ic-Arrow_Up_SM:before {
  content: "\e938";
}

.ic-Arrows_Reload_01:before {
  content: "\e939";
}

.ic-Bar_Bottom:before {
  content: "\e93a";
}

.ic-Bar_Left:before {
  content: "\e93b";
}

.ic-Bar_Right:before {
  content: "\e93c";
}

.ic-Bar_Top:before {
  content: "\e93d";
}

.ic-Bell_Close:before {
  content: "\e93e";
}

.ic-Bell_Notification:before {
  content: "\e93f";
}

.ic-Bell_Ring:before {
  content: "\e940";
}

.ic-Bold:before {
  content: "\e941";
}

.ic-Book:before {
  content: "\e942";
}

.ic-Book_Open:before {
  content: "\e943";
}

.ic-Bookmark:before {
  content: "\e944";
}

.ic-Building_01:before {
  content: "\e945";
}

.ic-Building_02:before {
  content: "\e946";
}

.ic-Building_03:before {
  content: "\e947";
}

.ic-Building_04:before {
  content: "\e948";
}

.ic-Bulb:before {
  content: "\e949";
}

.ic-Calendar:before {
  content: "\e94a";
}

.ic-Calendar_Add:before {
  content: "\e94b";
}

.ic-Calendar_Check:before {
  content: "\e94c";
}

.ic-Calendar_Close:before {
  content: "\e94d";
}

.ic-Calendar_Days:before {
  content: "\e94e";
}

.ic-Calendar_Event:before {
  content: "\e94f";
}

.ic-Calendar_Remove:before {
  content: "\e950";
}

.ic-Calendar_Week:before {
  content: "\e951";
}

.ic-Camera:before {
  content: "\e952";
}

.ic-Car_Auto:before {
  content: "\e953";
}

.ic-Caret_Circle_Down:before {
  content: "\e954";
}

.ic-Caret_Circle_Left:before {
  content: "\e955";
}

.ic-Caret_Circle_Right:before {
  content: "\e956";
}

.ic-Caret_Circle_Up:before {
  content: "\e957";
}

.ic-Caret_Down_MD:before {
  content: "\e958";
}

.ic-Caret_Down_SM:before {
  content: "\e959";
}

.ic-Caret_Left_SM:before {
  content: "\e95a";
}

.ic-Caret_Right_SM:before {
  content: "\e95b";
}

.ic-Caret_Up_MD:before {
  content: "\e95c";
}

.ic-Caret_Up_SM:before {
  content: "\e95d";
}

.ic-Chart_Bar_Horizontal_01:before {
  content: "\e95e";
}

.ic-Chart_Bar_Vertical_01:before {
  content: "\e95f";
}

.ic-Chart_Line:before {
  content: "\e960";
}

.ic-Chart_Pie:before {
  content: "\e961";
}

.ic-Chat:before {
  content: "\e962";
}

.ic-Chat_Add:before {
  content: "\e963";
}

.ic-Chat_Check:before {
  content: "\e964";
}

.ic-Chat_Circle:before {
  content: "\e965";
}

.ic-Chat_Circle_Add:before {
  content: "\e966";
}

.ic-Chat_Circle_Check:before {
  content: "\e967";
}

.ic-Chat_Circle_Close:before {
  content: "\e968";
}

.ic-Chat_Circle_Dots:before {
  content: "\e969";
}

.ic-Chat_Circle_Remove:before {
  content: "\e96a";
}

.ic-Chat_Close:before {
  content: "\e96b";
}

.ic-Chat_Conversation:before {
  content: "\e96c";
}

.ic-Chat_Conversation_Circle:before {
  content: "\e96d";
}

.ic-Chat_Dots:before {
  content: "\e96e";
}

.ic-Chat_Remove:before {
  content: "\e96f";
}

.ic-Check:before {
  content: "\e970";
}

.ic-Check_All:before {
  content: "\e971";
}

.ic-Check_All_Big:before {
  content: "\e972";
}

.ic-Check_Big:before {
  content: "\e973";
}

.ic-Checkbox_Check:before {
  content: "\e974";
}

.ic-Checkbox_Fill:before {
  content: "\e975";
}

.ic-Checkbox_Unchecked:before {
  content: "\e976";
}

.ic-Chevron_Down:before {
  content: "\e977";
}

.ic-Chevron_Down_Duo:before {
  content: "\e978";
}

.ic-Chevron_Left:before {
  content: "\e979";
}

.ic-Chevron_Left_Duo:before {
  content: "\e97a";
}

.ic-Chevron_Left_MD:before {
  content: "\e97b";
}

.ic-Chevron_Right:before {
  content: "\e97c";
}

.ic-Chevron_Right_Duo:before {
  content: "\e97d";
}

.ic-Chevron_Right_MD:before {
  content: "\e97e";
}

.ic-Chevron_Up:before {
  content: "\e97f";
}

.ic-Chevron_Up_Duo:before {
  content: "\e980";
}

.ic-Chromecast:before {
  content: "\e981";
}

.ic-Circle:before {
  content: "\e982";
}

.ic-Circle_Check:before {
  content: "\e983";
}

.ic-Circle_Help:before {
  content: "\e984";
}

.ic-Circle_Warning:before {
  content: "\e985";
}

.ic-Clock:before {
  content: "\e986";
}

.ic-Close_Circle:before {
  content: "\e987";
}

.ic-Close_LG:before {
  content: "\e988";
}

.ic-Close_MD:before {
  content: "\e989";
}

.ic-Close_SM:before {
  content: "\e98a";
}

.ic-Close_Square:before {
  content: "\e98b";
}

.ic-Cloud:before {
  content: "\e98c";
}

.ic-Cloud_Add:before {
  content: "\e98d";
}

.ic-Cloud_Check:before {
  content: "\e98e";
}

.ic-Cloud_Close:before {
  content: "\e98f";
}

.ic-Cloud_Download:before {
  content: "\e990";
}

.ic-Cloud_Off:before {
  content: "\e991";
}

.ic-Cloud_Remove:before {
  content: "\e992";
}

.ic-Cloud_Upload:before {
  content: "\e993";
}

.ic-Code:before {
  content: "\e994";
}

.ic-Coffe_To_Go:before {
  content: "\e995";
}

.ic-Coffee:before {
  content: "\e996";
}

.ic-Columns:before {
  content: "\e997";
}

.ic-Combine_Cells:before {
  content: "\e998";
}

.ic-Command:before {
  content: "\e999";
}

.ic-Compass:before {
  content: "\e99a";
}

.ic-Cookie:before {
  content: "\e99b";
}

.ic-Copy:before {
  content: "\e99c";
}

.ic-Credit_Card_01:before {
  content: "\e99d";
}

.ic-Credit_Card_02:before {
  content: "\e99e";
}

.ic-Crop:before {
  content: "\e99f";
}

.ic-Cupcake:before {
  content: "\e9a0";
}

.ic-Cylinder:before {
  content: "\e9a1";
}

.ic-Data:before {
  content: "\e9a2";
}

.ic-Delete_Column:before {
  content: "\e9a3";
}

.ic-Delete_Row:before {
  content: "\e9a4";
}

.ic-Desktop:before {
  content: "\e9a5";
}

.ic-Desktop_Tower:before {
  content: "\e9a6";
}

.ic-Devices:before {
  content: "\e9a7";
}

.ic-Double_Quotes_L:before {
  content: "\e9a8";
}

.ic-Double_Quotes_R:before {
  content: "\e9a9";
}

.ic-Download:before {
  content: "\e9aa";
}

.ic-Download_Package:before {
  content: "\e9ab";
}

.ic-Drag_Horizontal:before {
  content: "\e9ac";
}

.ic-Drag_Vertical:before {
  content: "\e9ad";
}

.ic-Dummy_Circle:before {
  content: "\e9ae";
}

.ic-Dummy_Circle_Small:before {
  content: "\e9af";
}

.ic-Dummy_Square:before {
  content: "\e9b0";
}

.ic-Dummy_Square_Small:before {
  content: "\e9b1";
}

.ic-Edit_Pencil_01:before {
  content: "\e9b2";
}

.ic-Edit_Pencil_02:before {
  content: "\e9b3";
}

.ic-Edit_Pencil_Line_01:before {
  content: "\e9b4";
}

.ic-Edit_Pencil_Line_02:before {
  content: "\e9b5";
}

.ic-Exit:before {
  content: "\e9b6";
}

.ic-Expand:before {
  content: "\e9b7";
}

.ic-External_Link:before {
  content: "\e9b8";
}

.ic-Figma:before {
  content: "\e9b9";
}

.ic-File_Add:before {
  content: "\e9ba";
}

.ic-File_Blank:before {
  content: "\e9bb";
}

.ic-File_Check:before {
  content: "\e9bc";
}

.ic-File_Close:before {
  content: "\e9bd";
}

.ic-File_Code:before {
  content: "\e9be";
}

.ic-File_Document:before {
  content: "\e9bf";
}

.ic-File_Download:before {
  content: "\e9c0";
}

.ic-File_Edit:before {
  content: "\e9c1";
}

.ic-File_Remove:before {
  content: "\e9c2";
}

.ic-File_Search:before {
  content: "\e9c3";
}

.ic-File_Upload:before {
  content: "\e9c4";
}

.ic-Files:before {
  content: "\e9c5";
}

.ic-Filter:before {
  content: "\e9c6";
}

.ic-Filter_Off:before {
  content: "\e9c7";
}

.ic-First_Aid:before {
  content: "\e9c8";
}

.ic-Flag:before {
  content: "\e9c9";
}

.ic-Folder:before {
  content: "\e9ca";
}

.ic-Folder_Add:before {
  content: "\e9cb";
}

.ic-Folder_Check:before {
  content: "\e9cc";
}

.ic-Folder_Close:before {
  content: "\e9cd";
}

.ic-Folder_Code:before {
  content: "\e9ce";
}

.ic-Folder_Document:before {
  content: "\e9cf";
}

.ic-Folder_Download:before {
  content: "\e9d0";
}

.ic-Folder_Edit:before {
  content: "\e9d1";
}

.ic-Folder_Remove:before {
  content: "\e9d2";
}

.ic-Folder_Search:before {
  content: "\e9d3";
}

.ic-Folder_Upload:before {
  content: "\e9d4";
}

.ic-Folders:before {
  content: "\e9d5";
}

.ic-Font:before {
  content: "\e9d6";
}

.ic-Forward:before {
  content: "\e9d7";
}

.ic-Gift:before {
  content: "\e9d8";
}

.ic-Globe:before {
  content: "\e9d9";
}

.ic-Hamburger_LG:before {
  content: "\e9da";
}

.ic-Hamburger_MD:before {
  content: "\e9db";
}

.ic-Handbag:before {
  content: "\e9dc";
}

.ic-Heading:before {
  content: "\e9dd";
}

.ic-Heading_H1:before {
  content: "\e9de";
}

.ic-Heading_H2:before {
  content: "\e9df";
}

.ic-Heading_H3:before {
  content: "\e9e0";
}

.ic-Heading_H4:before {
  content: "\e9e1";
}

.ic-Heading_H5:before {
  content: "\e9e2";
}

.ic-Heading_H6:before {
  content: "\e9e3";
}

.ic-Headphones:before {
  content: "\e9e4";
}

.ic-Heart_01:before {
  content: "\e9e5";
}

.ic-Heart_02:before {
  content: "\e9e6";
}

.ic-Help:before {
  content: "\e9e7";
}

.ic-Hide:before {
  content: "\e9e8";
}

.ic-House_01:before {
  content: "\e9e9";
}

.ic-House_02:before {
  content: "\e9ea";
}

.ic-House_03:before {
  content: "\e9eb";
}

.ic-House_Add:before {
  content: "\e9ec";
}

.ic-House_Check:before {
  content: "\e9ed";
}

.ic-House_Close:before {
  content: "\e9ee";
}

.ic-House_Remove:before {
  content: "\e9ef";
}

.ic-Image_02:before {
  content: "\e9f0";
}

.ic-Info:before {
  content: "\e9f1";
}

.ic-Instance:before {
  content: "\e9f2";
}

.ic-Italic:before {
  content: "\e9f3";
}

.ic-Keyboard:before {
  content: "\e9f4";
}

.ic-Label:before {
  content: "\e9f5";
}

.ic-Laptop:before {
  content: "\e9f6";
}

.ic-Layer:before {
  content: "\e9f7";
}

.ic-Layers:before {
  content: "\e9f8";
}

.ic-Leaf:before {
  content: "\e9f9";
}

.ic-Line_L:before {
  content: "\e9fa";
}

.ic-Line_M:before {
  content: "\e9fb";
}

.ic-Line_S:before {
  content: "\e9fc";
}

.ic-Line_Xl:before {
  content: "\e9fd";
}

.ic-Link:before {
  content: "\e9fe";
}

.ic-Link_Break:before {
  content: "\e9ff";
}

.ic-Link_Horizontal:before {
  content: "\ea00";
}

.ic-Link_Horizontal_Off:before {
  content: "\ea01";
}

.ic-Link_Vertical:before {
  content: "\ea02";
}

.ic-List_Add:before {
  content: "\ea03";
}

.ic-List_Check:before {
  content: "\ea04";
}

.ic-List_Checklist:before {
  content: "\ea05";
}

.ic-List_Ordered:before {
  content: "\ea06";
}

.ic-List_Remove:before {
  content: "\ea07";
}

.ic-List_Unordered:before {
  content: "\ea08";
}

.ic-Loading:before {
  content: "\ea09";
}

.ic-Lock:before {
  content: "\ea0a";
}

.ic-Lock_Open:before {
  content: "\ea0b";
}

.ic-Log_Out:before {
  content: "\ea0c";
}

.ic-Magnifying_Glass_Minus:before {
  content: "\ea0d";
}

.ic-Magnifying_Glass_Plus:before {
  content: "\ea0e";
}

.ic-Mail:before {
  content: "\ea0f";
}

.ic-Mail_Open:before {
  content: "\ea10";
}

.ic-Main_Component:before {
  content: "\ea11";
}

.ic-Map:before {
  content: "\ea12";
}

.ic-Map_Pin:before {
  content: "\ea13";
}

.ic-Mention:before {
  content: "\ea14";
}

.ic-Menu_Alt_01:before {
  content: "\ea15";
}

.ic-Menu_Alt_02:before {
  content: "\ea16";
}

.ic-Menu_Alt_03:before {
  content: "\ea17";
}

.ic-Menu_Alt_04:before {
  content: "\ea18";
}

.ic-Menu_Alt_05:before {
  content: "\ea19";
}

.ic-Menu_Duo_LG:before {
  content: "\ea1a";
}

.ic-Menu_Duo_MD:before {
  content: "\ea1b";
}

.ic-Mobile:before {
  content: "\ea1c";
}

.ic-Mobile_Button:before {
  content: "\ea1d";
}

.ic-Monitor:before {
  content: "\ea1e";
}

.ic-Monitor_Play:before {
  content: "\ea1f";
}

.ic-Moon:before {
  content: "\ea20";
}

.ic-More_Grid_Big:before {
  content: "\ea21";
}

.ic-More_Grid_Small:before {
  content: "\ea22";
}

.ic-More_Horizontal:before {
  content: "\ea23";
}

.ic-More_Vertical:before {
  content: "\ea24";
}

.ic-Mouse:before {
  content: "\ea25";
}

.ic-Move:before {
  content: "\ea26";
}

.ic-Move_Horizontal:before {
  content: "\ea27";
}

.ic-Move_Vertical:before {
  content: "\ea28";
}

.ic-Moving_Desk:before {
  content: "\ea29";
}

.ic-Navigation:before {
  content: "\ea2a";
}

.ic-Note:before {
  content: "\ea2b";
}

.ic-Note_Edit:before {
  content: "\ea2c";
}

.ic-Note_Search:before {
  content: "\ea2d";
}

.ic-Notebook:before {
  content: "\ea2e";
}

.ic-Octagon:before {
  content: "\ea2f";
}

.ic-Octagon_Check:before {
  content: "\ea30";
}

.ic-Octagon_Help:before {
  content: "\ea31";
}

.ic-Octagon_Warning:before {
  content: "\ea32";
}

.ic-Option:before {
  content: "\ea33";
}

.ic-Paper_Plane:before {
  content: "\ea34";
}

.ic-Paperclip_Attechment_Horizontal:before {
  content: "\ea35";
}

.ic-Paperclip_Attechment_Tilt:before {
  content: "\ea36";
}

.ic-Paragraph:before {
  content: "\ea37";
}

.ic-Path:before {
  content: "\ea38";
}

.ic-Pause:before {
  content: "\ea39";
}

.ic-Pause_Circle:before {
  content: "\ea3a";
}

.ic-Phone:before {
  content: "\ea3b";
}

.ic-Planet:before {
  content: "\ea3c";
}

.ic-Play:before {
  content: "\ea3d";
}

.ic-Play_Circle:before {
  content: "\ea3e";
}

.ic-Printer:before {
  content: "\ea3f";
}

.ic-Puzzle:before {
  content: "\ea40";
}

.ic-Qr_Code:before {
  content: "\ea41";
}

.ic-Radio_Fill:before {
  content: "\ea42";
}

.ic-Radio_Unchecked:before {
  content: "\ea43";
}

.ic-Rainbow:before {
  content: "\ea44";
}

.ic-Redo:before {
  content: "\ea45";
}

.ic-Remove_Minus:before {
  content: "\ea46";
}

.ic-Remove_Minus_Circle:before {
  content: "\ea47";
}

.ic-Rewind:before {
  content: "\ea48";
}

.ic-Rows:before {
  content: "\ea49";
}

.ic-Ruler:before {
  content: "\ea4a";
}

.ic-Save:before {
  content: "\ea4b";
}

.ic-Search_Magnifying_Glass:before {
  content: "\ea4c";
}

.ic-Select_Multiple:before {
  content: "\ea4d";
}

.ic-Settings:before {
  content: "\ea4e";
}

.ic-Settings_Future:before {
  content: "\ea4f";
}

.ic-Share_Android:before {
  content: "\ea50";
}

.ic-Share_iOS_Export:before {
  content: "\ea51";
}

.ic-Shield:before {
  content: "\ea52";
}

.ic-Shield_Check:before {
  content: "\ea53";
}

.ic-Shield_Warning:before {
  content: "\ea54";
}

.ic-Shopping_Bag_01:before {
  content: "\ea55";
}

.ic-Shopping_Bag_02:before {
  content: "\ea56";
}

.ic-Shopping_Cart_01:before {
  content: "\ea57";
}

.ic-Shopping_Cart_02:before {
  content: "\ea58";
}

.ic-Show:before {
  content: "\ea59";
}

.ic-Shrink:before {
  content: "\ea5a";
}

.ic-Shuffle:before {
  content: "\ea5b";
}

.ic-Single_Quotes_L:before {
  content: "\ea5c";
}

.ic-Single_Quotes_R:before {
  content: "\ea5d";
}

.ic-Skip_Back:before {
  content: "\ea5e";
}

.ic-Skip_Forward:before {
  content: "\ea5f";
}

.ic-Slider_01:before {
  content: "\ea60";
}

.ic-Slider_02:before {
  content: "\ea61";
}

.ic-Slider_03:before {
  content: "\ea62";
}

.ic-Sort_Ascending:before {
  content: "\ea63";
}

.ic-Sort_Descending:before {
  content: "\ea64";
}

.ic-Square:before {
  content: "\ea65";
}

.ic-Square_Check:before {
  content: "\ea66";
}

.ic-Square_Help:before {
  content: "\ea67";
}

.ic-Square_Warning:before {
  content: "\ea68";
}

.ic-Star:before {
  content: "\ea69";
}

.ic-Stop:before {
  content: "\ea6a";
}

.ic-Stop_Circle:before {
  content: "\ea6b";
}

.ic-Stop_Sign:before {
  content: "\ea6c";
}

.ic-Strikethrough:before {
  content: "\ea6d";
}

.ic-Suitcase:before {
  content: "\ea6e";
}

.ic-Sun:before {
  content: "\ea6f";
}

.ic-Swatches_Palette:before {
  content: "\ea70";
}

.ic-Swicht_Left:before {
  content: "\ea71";
}

.ic-Swicht_Right:before {
  content: "\ea72";
}

.ic-Table:before {
  content: "\ea73";
}

.ic-Table_Add:before {
  content: "\ea74";
}

.ic-Table_Remove:before {
  content: "\ea75";
}

.ic-Tablet:before {
  content: "\ea76";
}

.ic-Tablet_Button:before {
  content: "\ea77";
}

.ic-Tag:before {
  content: "\ea78";
}

.ic-Terminal:before {
  content: "\ea79";
}

.ic-Text:before {
  content: "\ea7a";
}

.ic-Text_Align_Center:before {
  content: "\ea7b";
}

.ic-Text_Align_Justify:before {
  content: "\ea7c";
}

.ic-Text_Align_Left:before {
  content: "\ea7d";
}

.ic-Text_Align_Right:before {
  content: "\ea7e";
}

.ic-Ticket_Voucher:before {
  content: "\ea7f";
}

.ic-Timer:before {
  content: "\ea80";
}

.ic-Timer_Add:before {
  content: "\ea81";
}

.ic-Timer_Close:before {
  content: "\ea82";
}

.ic-Timer_Remove:before {
  content: "\ea83";
}

.ic-Trash_Empty:before {
  content: "\ea84";
}

.ic-Trash_Full:before {
  content: "\ea85";
}

.ic-Trending_Down:before {
  content: "\ea86";
}

.ic-Trending_Up:before {
  content: "\ea87";
}

.ic-Triangle:before {
  content: "\ea88";
}

.ic-Triangle_Check:before {
  content: "\ea89";
}

.ic-Triangle_Warning:before {
  content: "\ea8a";
}

.ic-Underline:before {
  content: "\ea8b";
}

.ic-Undo:before {
  content: "\ea8c";
}

.ic-Unfold_Less:before {
  content: "\ea8d";
}

.ic-Unfold_More:before {
  content: "\ea8e";
}

.ic-User_01:before {
  content: "\ea8f";
}

.ic-User_02:before {
  content: "\ea90";
}

.ic-User_03:before {
  content: "\ea91";
}

.ic-User_Add:before {
  content: "\ea92";
}

.ic-User_Card_ID:before {
  content: "\ea93";
}

.ic-User_Check:before {
  content: "\ea94";
}

.ic-User_Circle:before {
  content: "\ea95";
}

.ic-User_Close:before {
  content: "\ea96";
}

.ic-User_Remove:before {
  content: "\ea97";
}

.ic-User_Square:before {
  content: "\ea98";
}

.ic-User_Voice:before {
  content: "\ea99";
}

.ic-Users:before {
  content: "\ea9a";
}

.ic-Users_Group:before {
  content: "\ea9b";
}

.ic-Volume_Max:before {
  content: "\ea9c";
}

.ic-Volume_Min:before {
  content: "\ea9d";
}

.ic-Volume_Minus:before {
  content: "\ea9e";
}

.ic-Volume_Off:before {
  content: "\ea9f";
}

.ic-Volume_Off_02:before {
  content: "\eaa0";
}

.ic-Volume_Plus:before {
  content: "\eaa1";
}

.ic-Warning:before {
  content: "\eaa2";
}

.ic-Water_Drop:before {
  content: "\eaa3";
}

.ic-Wavy:before {
  content: "\eaa4";
}

.ic-Wavy_Check:before {
  content: "\eaa5";
}

.ic-Wavy_Help:before {
  content: "\eaa6";
}

.ic-Wavy_Warning:before {
  content: "\eaa7";
}

.ic-Wifi_High:before {
  content: "\eaa8";
}

.ic-Wifi_Low:before {
  content: "\eaa9";
}

.ic-Wifi_Medium:before {
  content: "\eaaa";
}

.ic-Wifi_None:before {
  content: "\eaab";
}

.ic-Wifi_Off:before {
  content: "\eaac";
}

.ic-Wifi_Problem:before {
  content: "\eaad";
}

.ic-Window:before {
  content: "\eaae";
}

.ic-Window_Check:before {
  content: "\eaaf";
}

.ic-Window_Close:before {
  content: "\eab0";
}

.ic-Window_Code_Block:before {
  content: "\eab1";
}

.ic-Window_Sidebar:before {
  content: "\eab2";
}

.ic-Window_Terminal:before {
  content: "\eab3";
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../src/scss/icon.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;AACI;EACA;EACA;EACA;EACA;EACA;EACA;AAEA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE%22,%22file%22:%22icon.css%22%7D */
